/* components */
@import url("./css/components/bar.css");
@import url("./css/components/reset.css");
@import url("./css/components/variables.css");
@import url("./css/components/header.css");

/* screen */
@import url("./css/screen/made/honbab.css");
@import url("./css/screen/made/honcafe.css");
@import url("./css/screen/made/honsul.css");
@import url("./css/screen/made/honnol.css");



*, body {
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Jua', sans-serif;
    
}



body {
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
}
