/* components */
@import url("./css/components/bar.css");
@import url("./css/components/reset.css");
@import url("./css/components/variables.css");
@import url("./css/components/header.css");

/* screen */
@import url("./css/screen/login.css");
@import url("./css/screen/card.css");
@import url("./css/screen/filter.css");


*, body {
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Jua', sans-serif;
}



body {
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
}


/* 혼놀 level test */

.honnoltest-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    border-radius: 30px;
    margin-top: 100px;
    padding: 0px 20px;
    box-sizing: border-box;
}

.honnol-test{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 20px; 
}

#left {
    display: flex;
    justify-content: center;
    width: 70%;
    background-color:rgba(0, 0, 0, 0.03);
}
#right {
    width: 30%;
    background-color:rgba(0, 0, 0, 0.03);
}

.honnol-test div {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
    color:#3DB588;
}

.honnol-test input {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    color:white;
    background-color: var(--lightmint);
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 50px;   
}

.honnol-test input:hover {
color:#FDEBC7;
}


/*  소개 page : along alone 이란?  */

.introduce {
    box-sizing: border-box;
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content:center;
}

.main_icon {
    width: 50%;
    margin-top: 25px;
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:400px;
    height: 300px;
    border: 2px solid black;
    background-color: white;
    border-radius: 50%;
}

.main_icon div {
    box-sizing: border-box;
    font-size: 50px;
    font-weight: 100;
    color:black;
}

.main_icon div:last-child {
    margin-top:20px;
}


.main_introduce_text {
    box-sizing: border-box;
    padding-top: 30px;
    width: 50%;
    margin-left: 220px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_introduce_text h2 {
    font-size: 55px;
    margin: 50px 0px;
}
.main_introduce_text p {
    height: 100px;
    width: 650px;
    flex-wrap: wrap;
    font-size: 35px;
    text-align: center;
}




/* map */

.map_wrap {
    background-color:#F0F4F5;
    width: 100%;
    height: 700px;
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    }

.map_img {
    margin-top: 50px;
    margin-left: 150px;
    width: 40%;
    height: 600px;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.map_content_box {

    margin-top: 60px;
    width: 60%;
    height: 600px;

    margin-left: 200px;
}

.map_title {
  
    height: 10%;
    display: flex;
    align-items: center;
}

.map_title input{
    all: unset;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    width: 80%;
    font-size: 30px;
}

.map_title i {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.4);
}

.map_btn {
    height: 10%;

    width: 60%;
    margin-top: 10px;
    
}

.map_btn button {
    margin: 5px;
    margin-left: 20px;
}

.store_address_wrap{
    padding: 20px;

    display: flex;
    align-items: center;
    margin: 20px;
}

.store_address_wrap i{
    margin: 0px 20px ;
    font-size: 30px;
}
.store_name {
    font-size: 30px;
    margin-bottom: 5px;
}
.store_address {
    font-size: 20px;
}





/* honbab category  */

.honbab_category_wrap {
background-color:#F0F4F5;
width: 100%;
height: 550px;
border-radius: 20px;
}

.category_header {
    height : 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.4);
    margin: 0px 20px;
    margin-left: 60px;
    margin-right: 50px;
    font-size: 30px; 
}

.look_more:hover {
    color: black;
}

.honbab_category_col_wrap {
    margin-left: 30px;
}


.category_col {
    display: flex;
}

