<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

    <!-- CSS -->
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./css/screen/write/write_back.css">
    <title>혼밥게시판</title>
</head>


<body>


    <!-- header -->
    <header>

        <a class="header-col" href="index.html">
            <div class="header-col1">
                <img class="header-logo" src="img/logowhite.PNG">
                <div class="header-title">
                    <span>alone</span>
                    <span>along</span>
                </div>

            </div>
        </a>

        <div class="header-col2">
            <a href="index.html">혼밥</a>
            <a href="honsul.html">혼술</a>
            <a href="honcafe.html">혼카페</a>
            <a href="honmap.html">혼맵</a>
        </div>

        <span class="header-col-bar">

            <img src="img/saessak.png" alt="">
            <img src="img/alarm.png" alt="">
            <a href="#">
                <div id="mypage"><i class="fa-solid fa-user fa-lg"></i></div>
            </a>
        </span>


    </header>

    <!-- 글쓰기 화면 -->

    <div class="container">
        <h2 class="container_title"> along alone bulletin board</h2>
        <hr class="line">

        <div class="container_box">
            <form action="{% url 'create' %}" method="POST">
                <!-- {% url은 제출버튼 누르면 저 함수 실행하는 url %}-->
                {% csrf_token %}
                <!-- 보안관련임. 무시해도 됌 -->

                <!-- <form action="write.jsp" method="post"> -->
                <div class="form-group">

                    <div class="float">
                        <div class="float left">
                            <label for="title" style="color: white;">제목</label>
                            <input type="text" class="form-control title" id="title" placeholder="제목을 입력해주세요."
                                name="title" maxlength="80" required="required" pattern=".{4,100}">
                        </div>
                        <div class="float right">
                            <!-- form 태그는 제출을 해야 값이 저장되서, 선택만 해도 되는 select 사용
                                                                                                                    option value 숫자는 데이터베이스에 저장할 때, 혼밥을 선택하면 1을 저장한다는 뜻-->
                            <label for="title" style="color: white;">카테고리</label><br>
                            <select name="category" id="catetgory" class="category_select">
                                <option value="1">혼밥</option>
                                <option value="2">혼술</option>
                                <option value="3">혼카페</option>
                                <option value="4">혼놀</option>
                            </select>
                        </div>
                    </div>

                    <br>

                    <div class="float">
                        <div class="float left1">
                            <label for="title" style="color: white;">첨부파일</label>
                            <input type="file" name="photo" class="photo">
                        </div>
                        <div class="float right1">
                            <label for="title" style="color: white;">장소</label>
                            <input type="text" class="form-control title1" id="title" placeholder="클릭해주세요." name="title"
                                maxlength="20">
                        </div>
                    </div>






                </div>
                <div class="form-group">
                    <label for="body" style="color: white;">내용</label>
                    <textarea class="form-control passage" rows="3" id="body" name="body"
                        placeholder="내용 작성"></textarea>
                </div>
                <!-- 데이터 형식 정의할 떄 본문 body로 해서 content -> body로 바꿈 -->


            </form>

        </div>
        <button type="submit" class="btn btn-default">등록하기</button>


    </div>





    <!-- css -->
    <style>
        body {
            background-color: black
        }
    </style>



    <!--  icon 적용 -->
    <script src="https://kit.fontawesome.com/73b35ca8d6.js" crossorigin="anonymous"></script>
</body>

</html>