* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 20px gray;
    overflow: hidden;
    position: relative;
    margin: 30px;
    transition: 0.3S;
    
}
.card-banner img {
    position: absolute;
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.card-body {
    margin: 240px 15px 15px 15px;
}

.card-body p {
    display: flex;
    justify-content: center;
}


.title {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 10px;
}

.desc {
    font-size: 15px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card:hover {
    transform: translateY(-10px);
}

a:hover {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

