@import url("./css/components/reset.css");
@import url("./css/components/variables.css");

/* login page */

#login_body {
    height: 100%;
}

.login-page {
    display: flex;
}

.login-page-col {
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.02);
}

.login-bg-img{
    background-color: var(--lightmint);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.login-bg-img img {
    width: 200px;
    height: 200px;
}
.login-bg-img span {
color: white;
font-size: 50px;
}
.login-bg-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login_form_signup {
    font-size: 20px;
    font-weight: 600;
}

.login_form_signup:not(.checkbox){
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.login_form_signup a {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    align-items: center;
   
}

.lookaround:hover {
    color: var(--lightmint);
}

.login_form_signup h1 {
font-size: 30px;
font-weight: 800;
}
.login_form_signup input:not(#checkbox) {
    all: unset;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    font-size: 40px;
}

.login_form_signup button {
    all: unset;
    border: 2px solid rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.login_form_signup button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}




