<!--이 파일에선 base.html에 없는 줄이 14줄임!!!!!!!!!!!!!!!!!!!!!!-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon.png">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/screen/map/map_popup.css">
    <title>Document</title>
</head>

<body id="append">

                <!-- 팝업 -->
                <div class="detail_location">
                    <span class="detail_location_col"><i class="fa-solid fa-location-dot fa-2x"></i></span>
                    <span class="detail_location_col">
                        <h4>대구광역시 북구 대학로 24번길</h4>
                        <h5>9:00 ~ 22:00</h5>

                        <!-- popup 생성 하세요!!!!!!!! -->

                        <h3> 지도보기<i id="map_popup" class="fa-solid fa-chevron-right"></i></h3>

                        <div id="popup" class="hidden">
                            <div class="popup_map">
                                <!--  현재 위치  -->
                                <div class="location">
                                    <span class="loaction title" ㄴ>상세지도</span>
                                </div>
                                <hr class="line">

                                <!-- 선 아래 -->
                                <div class="contentbox">
                                    <!-- 지도, 식당 정보 -->
                                    <div class="contentbox left">

                                        <!-- 지도 -->
                                        <div class="map">
                                            <br><br><br>
                                            <h1>지도</h1>
                                        </div>

                                        <!-- 식당 정보 -->
                                        <div class="honbab_box">

                                            <div class="box_title">
                                                <div class="box_text_wrap">
                                                    <div class="box_name">낭만놀이</div>
                                                    <div class="box_content_name">대구광역시 북구 대학로 24번길</div>
                                                    <div class="box_content_name">영업 시간 9:00 - 20:00</div>
                                                </div>
                                            </div>

                                            <hr class="mini_line">

                                            <div class="box_info">

                                                <div class="box_info_map_wrap">
                                                    <span>혼놀러 리뷰 18</span>
                                                </div>

                                                <div class="box_info_icon_wrap">
                                                    <span>> 구경가기</span>
                                                </div>
                                            </div>



                                        </div>

                                    </div>
                                    <div class="contentbox right">
                                        <div class="honnol_review_title">혼놀러 리뷰 미리보기</div>

                                        <!-- 타임라인 -->
                                        <hr class='v-line'>
                                        </hr>
                                        <hr class="timeline">
                                        <div class="timeline">
                                            <ul>
                                                <li>
                                                    <br>
                                                    <span>2022.04.26</span>
                                                    <div class="content">
                                                        <div class="honbab_box2">


                                                            <a href="honbabdetail.html">
                                                                <div class="box_title2">
                                                                    <div class="box_img2"></div>

                                                                    <div class="box_text_wrap2">
                                                                        <div class="box_name2">김얼롱</div>
                                                                        <div class="box_content_name2">게시글 제목입니다 가나다라마바사
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>

                                                            <div class="box_info2">

                                                                <div class="box_info_icon_wrap2">
                                                                    <i class="fa-solid fa-heart fa-lg"></i>
                                                                    <span style="color: black;">123</span>
                                                                    <i class="fa-solid fa-comment fa-lg"></i>
                                                                    <span style="color: black;">456</span>
                                                                </div>
                                                            </div>



                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <br>
                                                    <span>2022.06.17</span>
                                                    <div class="content">
                                                        <div class="honbab_box2">


                                                            <a href="honbabdetail.html">
                                                                <div class="box_title2">
                                                                    <div class="box_img2"></div>

                                                                    <div class="box_text_wrap2">
                                                                        <div class="box_name2">김얼롱</div>
                                                                        <div class="box_content_name2">게시글 제목입니다 가나다라마바사
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>

                                                            <div class="box_info2">

                                                                <div class="box_info_icon_wrap2">
                                                                    <i class="fa-solid fa-heart fa-lg"></i>
                                                                    <span style="color: black;">123</span>
                                                                    <i class="fa-solid fa-comment fa-lg"></i>
                                                                    <span style="color: black;">456</span>
                                                                </div>
                                                            </div>



                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <br>
                                                    <span>2022.07.29</span>
                                                    <div class="content">
                                                        <div class="honbab_box2">
                                                
                                                
                                                            <a href="honbabdetail.html">
                                                                <div class="box_title2">
                                                                    <div class="box_img2"></div>
                                                
                                                                    <div class="box_text_wrap2">
                                                                        <div class="box_name2">김얼롱</div>
                                                                        <div class="box_content_name2">게시글 제목입니다 가나다라마바사</div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                
                                                            <div class="box_info2">
                                                
                                                                <div class="box_info_icon_wrap2">
                                                                    <i class="fa-solid fa-heart fa-lg"></i>
                                                                    <span style="color: black;">123</span>
                                                                    <i class="fa-solid fa-comment fa-lg"></i>
                                                                    <span style="color: black;">456</span>
                                                                </div>
                                                            </div>
                                                
                                                
                                                
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>


                    </span>

                </div>

            </div>  



    <!-- honbabdetail.js -->
    <script src="js/honbabdetail.js"></script>
    <!-- icon link -->
    <script src="https://kit.fontawesome.com/73b35ca8d6.js" crossorigin="anonymous"></script>
    <!-- map popup -->
    <!-- <script src="/js/popup.js"></script> -->
</body>

</html>
